<header class="page-header">
  <h1><%= @topic.title %></h1>
  <p><%= @topic.description %></p>
  <p class="meta">Created 20th June 2013 by adambutler | Share link is - <%= "#{request.protocol}#{request.host}/topics/#{@topic.secret}" %></p>
  <div class="labels">
    <span class="label label-<%= @topic.locked ? 'error' : 'success' %>"><%= @topic.locked ? 'closed' : 'open' %></span>  

    <%= link_to 'Settings', edit_topic_path(@topic), :class => "label" %>

  </div>
</header>

<div class="row-fluid" ng-controller="TopicController" ng-init="construct({}, '<%= @topic.secret %>')">

  <div class="column-right">

    <ul class="sidebar list-unstyled">

      <li class="sidebar-item-chart">
        <h3 class="icon-title"><i class="icon icon-mini_gauge"></i>Ideas in the last 7 days</h3>
        <canvas id="canvas" height="150" width="315"></canvas>
      </li>

      <% unless @topic.locked %>

        <li class="sidebar-item-new-idea">
          <h3 class="icon-title"><i class="icon icon-mini_pencil"></i>Suggest an idea</h3>

          <% if current_user %>
            <form name="new" ng-submit="addIdea()">

              <div class="field">
                <label for="idea_name">Name</label><br>
                <input type="text" ng-model="newIdea.title" required>
              </div>
              <div class="field">
                <label for="idea_description">Description</label><br>
                <textarea type="text" ng-model="newIdea.description"></textarea>
              </div>
              <div class="actions">
                <input type="submit" value="Create Idea" ng-disabled="new.$invalid">
              </div>

            </form>
          <% else %>
            <div class="text-centered text-spacious">
              <a href="/login" class="link-subtle">Log in to suggest an idea</a>
            </div>

          <% end %>

        </li>

      <% end %>

    </ul>
  </div>

  <div class="column-left">
    <div class="column-content">

      <div class="text-centered text-spacious" ng-show="topic.ideas.length == 0">
        <div class="icon-container">
          <div class="icon icon-battery"></div>
        </div>
        <h2>This topic hasn't got any suggestions yet.</h2>
        <p>Why not be the first to add a suggestion</p>
      </div>

      <form class="action-bar" ng-hide="topic.ideas.length == 0">
        <label for="sort">Sort by - </label>
        <select ng-model="sort">
          <option value="-votes.total_vote_qty">Votes - Decending</option>
          <option value="votes.total_vote_qty">Votes - Accending</option>
          <option value="-created_at">Created - Newest First</option>
          <option value="created_at">Created - Oldest First</option>
          <option value="title">Title - Accending</option>
          <option value="-title">Title - Decending</option>
        </select>
      </form>

      <% if @topic.locked %>
        <p class="flash flash-alert"><%= @owner ? 'You have' : 'The owner has' %> closed this topic, you can not vote or add new ideas.</p>
      <% end %>

      <ul class="suggestions" ng-hide="topic.ideas.length == 0">

        <li ng-repeat="idea in topic.ideas | orderBy: sort">
          <div class="votebox votebox-<%= @topic.locked ? 'error' : 'success' %>">
            <span class="score">{{idea.votes.total_vote_qty}}</span>
            <span ng-disabled="votable(idea)" class="vote" ng-click="vote(idea)"
              ng-class="{
                'vote-voted': !votable(idea)
              }"
            >
              {{votable(idea) && 'vote' || '✔'}}
            </span>
          </div>
          <div class="idea-body">
            <h2>{{idea.title}}</h2>
            <p>{{idea.description}}</p>
            <p class="meta">Suggested by #{{idea.user_id}} {{idea.created_time_ago_in_words}}
              <span ng-show="idea.owner">
                | <a href="{{idea.edit_url}}">edit</a>
                | <a href="{{idea.public_link}}/edit">delete</a>
              </span>
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  var lineChartData, myLine;

  lineChartData = {
    labels: <%= raw ((1.week.ago.to_date..Date.today).map{ |date| date.strftime("%b %d") }) %>,
    datasets: [
      {
        fillColor: "rgba(242,155,44,1)",
        strokeColor: "rgba(242,155,44,0)",
        data: <%= (1.week.ago.to_date..Date.today).map { |date| @topic.ideas.qty_on(date).to_f}.inspect %>
      }
    ]
  };

  myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData, {
    pointDot : false,
    scaleShowGridLines: false,
    scaleFontFamily : "'UbuntuRegular'",
    scaleFontColor : "#b2bcc5",
    scaleFontSize : 11,
  });
</script>
