<header class="main">
  <a href="/"><h1>Conduct.io <small>Group decisions made easy</small></h1></a>
  <% if request.env['PATH_INFO'] != '/' %>
    <nav>
      <%= link_to_unless_current('My Topics', topics_path) { |link| raw "<span class=\"current\">#{link}</span>"} %>
      <%= link_to_unless_current('New Topic', new_topic_path) { |link| raw "<span class=\"current\">#{link}</span>"} %>
    </nav>
    <div class="user">
      <a href="#">
        <%= image_tag("user.png", :class => 'avatar small') %>
      </a>
      <ul class="dropdown">
        <li><%= link_to "edit profile", '#' %></li>
        <li><%= link_to "logout", logout_path %></li>
      </ul>
    </div>
  <% end %>
</header>
