<!DOCTYPE html>
<html ng-app="Conduct" class="<%= get_theme %> <%= "page-#{params[:controller]}-#{params[:action]}" %>">
  <head>
    <title>Conduct</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="root">
      <%= render 'layouts/header' %>

      <div class="body">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
      </div>

      <div id="root-footer"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
